<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "/", class: "navbar-brand" do %>
            <i class="fa fa-users"></i> DevMatch
          <% end %>
        </div>
        
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign In", "/"%></a></li>
            <li><%= link_to "Sign Up", "/"%></a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "About", "/about"%></li>
            <li><%= link_to "Forums", "/"%></li>
            <li><%= link_to "Support", "/"%></li>
            <li><%= link_to "Shop", "/"%></li>
          </ul>
        </div>
      </div>
    </nav>
    
      <%= yield %>

  </body>
</html>
